## Import library and Data

In [1]:
import pandas as pd

In [2]:
sweat_1 = pd.read_excel("sweat_and_toil _1.xlsx")
sweat_2 = pd.read_excel("sweat_and_toil_2.xlsx")
unicef_1 = pd.read_excel("unicef_childrens_rights_1.xlsx")

## FILTER SWEAT DATA 2 BY ONLY INCLUIDING VALUES FOR THE YEAR 2022

We agreed to only use data from the year 2022

In [3]:
sweat_2_2022 = sweat_2[sweat_2['Year'] == 2022]
unique_values_sweat_2_country = sweat_2_2022['Country'].unique()

print("Count of Unique countries:", len(unique_values_sweat_2_country))

Count of Unique countries: 131

## COUNT UNIQUE COUNTRIES IN THE DATA

In [4]:
unique_values_unicef1_country = unicef_1['Country'].unique()
unique_values_sweat_2_country = sweat_2_2022['Country'].unique()
unique_values_sweat_1_country = sweat_1['Country'].unique()

print("Unique countries in unicef_1:", len(unique_values_unicef1_country))
print("Unique countries in sweat_2_2022:", len(unique_values_sweat_2_country))
print("Unique countries in sweat_1:", len(unique_values_sweat_1_country))

Unique countries in unicef_1: 195
Unique countries in sweat_2_2022: 131
Unique countries in sweat_1: 80

## MERGE SWEAT_1 & SWEAT_2 DATA

First I merge the 2 sweat datasets, by "Country", "Country Numeric Iso Code", "Country Iso Code"

In [7]:
# MERGE SWEAT USING OUTER FUNCTION
merged_sweat = pd.merge(sweat_1, sweat_2_2022,  on=["Country", "Country Numeric Iso Code", "Country Iso Code"], 
                        how="outer")
# Count unique values
unique_values_merged_sweat_country = merged_sweat['Country'].unique()
print("Unique countries in merged_sweat", len(unique_values_merged_sweat_country))


# Total count of rows with missing values across all columns
total_missing_rows = merged_sweat.isna().any(axis=1).sum()

print("\nTotal count of rows with missing values:", total_missing_rows)

# Filter to include only rows with missing values
missing_rows = merged_sweat[merged_sweat.isna().any(axis=1)]

# Calculate the number of unique values in the "Country" column within the filtered DataFrame
unique_countries_with_missing_values = missing_rows['Country'].nunique()

print("Number of unique countries with missing values:", unique_countries_with_missing_values)

Unique countries in merged_sweat 144

Total count of rows with missing values: 675
Number of unique countries with missing values: 144

In [6]:
merged_sweat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 675 entries, 0 to 674
Data columns (total 83 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Country Numeric Iso Code                                   675 non-null    int64
 1   Country Iso Code                                           673 non-null    object
 2   Country                                                    675 non-null    object
 3   Sector                                                     611 non-null    object
 4   Good                                                       611 non-null    object
 5   Exploitation_Type                                          611 non-null    object
 6   Year Added                                                 611 non-null    float64
 7   Year Removed                                               520 non-null    float64
 8   Region                                                     581 non-null    object
 9   Region Id                                                  581 non-null    float64
 10  Year                                                       581 non-null    float64
 11  Summary Paragraph                                          581 non-null    object
 12  Assessment_Level                                           581 non-null    object
 13  Assessment Level Id                                        581 non-null    float64
 14  Age Range Of Working Children                              581 non-null    object
 15  Percent Of Working Children                                581 non-null    object
 16  Population_Of_Working_Children                             581 non-null    object
 17  Percent Of Working Children Agriculture                    581 non-null    object
 18  Percent Of Working Children Industry                       581 non-null    object
 19  Percent Of Working Children Services                       581 non-null    object
 20  Age Range Of Children Attending School                     581 non-null    object
 21  Percentage Of Children Attending School                    581 non-null    object
 22  Age Range Of Children Working And Studying                 581 non-null    object
 23  Percent Of Children Working And Studying                   581 non-null    object
 24  Primary Completion Rate                                    581 non-null    object
 25  Ilo C 182 Ratified                                         577 non-null    object
 26  Crc Ratified                                               579 non-null    object
 27  Crc Csec Ratified                                          579 non-null    object
 28  Crc Ac Ratified                                            579 non-null    object
 29  Palermo Ratified                                           579 non-null    object
 30  Minimum Work Conforms Standard                             581 non-null    object
 31  Minimum Work Age                                           581 non-null    object
 32  Minimum Work Is Calculated Age                             581 non-null    object
 33  Minimum Hazardous Work Conforms Standard                   581 non-null    object
 34  Minimum Hazardous Work Age                                 581 non-null    object
 35  Minimum Hazardous Work Is Calculated Age                   581 non-null    object
 36  Identification Of Hazardous Occupations List               581 non-null    object
 37  Prohibition Forced Labor Conforms Standard                 581 non-null    object
 38  Prohibition Child Trafficking Conforms Standard            581 non-null    object
 39  Prohibition Csec Conforms Standard                         581 non-null    object
 40  Prohibition Illicit Activities Conforms Standard           581 non-null    object
 41  Minimum Compulsory Military Conforms Standard              314 non-null    object
 42  Minimum Compulsory Military Age                            581 non-null    object
 43  Minimum Compulsory Military Is Calculated                  581 non-null    object
 44  Minumum Voluntary Military Conforms Standard               538 non-null    object
 45  Minumum Voluntary Military Age                             581 non-null    object
 46  Minumum Voluntary Military Is Calculated                   581 non-null    object
 47  Minumum Non State Military Conforms Standard               314 non-null    object
 48  Minumum Non State Military Age                             0 non-null      object
 49  Minumum Non State Military Is Calculated                   581 non-null    object
 50  Compulsory Education Conforms Standard                     581 non-null    object
 51  Compulsory Education Age                                   581 non-null    object
 52  Compulsory Education Is Calculated                         581 non-null    object
 53  Free Public Education Conforms Standard                    581 non-null    object
 54  Enforcement Labor Labor Funding                            566 non-null    object
 55  Enforcement Labor Labor Inspectors                         566 non-null    object
 56  Enforcement Labor Labor Inspectors Intl Standards          566 non-null    object
 57  Enforcement Labor Authorized Assess Penalties              566 non-null    object
 58  Enforcement Labor Labor New Employee Training              566 non-null    object
 59  Enforcement Labor Labor New Law Training                   581 non-null    object
 60  Enforcement Labor Labor Refresher Courses                  581 non-null    object
 61  Enforcement Labor Labor Inspections                        566 non-null    object
 62  Enforcement Labor Labor Worksite Inspections               566 non-null    object
 63  Enforcement Labor Labor Violations                         564 non-null    object
 64  Enforcement Labor Labor Penalties Imposed                  517 non-null    object
 65  Enforcement Labor Labor Penalties Collected                530 non-null    object
 66  Enforcement Labor Labor Routine Inspections Conducted      565 non-null    object
 67  Enforcement Labor Labor Routine Inspections Targeted       564 non-null    object
 68  Enforcement Labor Labor Unannounced Inspections Permitted  566 non-null    object
 69  Enforcement Labor Labor Unannounced Inspections Conducted  564 non-null    object
 70  Enforcement Labor Labor Complaint Mechanism                566 non-null    object
 71  Enforcement Labor Labor Referral Mechanism                 566 non-null    object
 72  Enforcement Criminal Criminal New Employee Training        566 non-null    object
 73  Enforcement Criminal Criminal New Law Training             581 non-null    object
 74  Enforcement Criminal Criminal Refresher Courses            581 non-null    object
 75  Enforcement Criminal Criminal Investigations               566 non-null    object
 76  Enforcement Criminal Criminal Violations                   549 non-null    object
 77  Enforcement Criminal Criminal Prosecutions                 565 non-null    object
 78  Enforcement Criminal Criminal Convictions                  564 non-null    object
 79  Enforcement Criminal Criminal Referral Mechanism           566 non-null    object
 80  Coordination                                               572 non-null    object
 81  Policy                                                     574 non-null    object
 82  Program                                                    569 non-null    object
dtypes: float64(5), int64(1), object(77)
memory usage: 443.0+ KB

## MERGE SWEAT AND UNICEF DATA

Then I merged the sweat and unicef data by country which is the only common column that they had.

In [9]:
# MERGE SWEAT AND UNICEF USING OUTER FUNCTION
merged_all = pd.merge(unicef_1,merged_sweat ,  on="Country", 
                        how="outer")
#Count unique values
unique_values_merged_all_country = merged_all['Country'].unique()
print("Unique countries in merged_all", len(unique_values_merged_all_country))


# Total count of rows with missing values across all columns
total_missing_rows1 = merged_all.isna().any(axis=1).sum()

print("\nTotal count of rows with missing values:", total_missing_rows1)

# Filter the DataFrame to include only rows with missing values
missing_rows1 = merged_all[merged_all.isna().any(axis=1)]

# Calculate the number of unique values in the "Country" column within the filtered DataFrame
unique_countries_with_missing_values1 = missing_rows1['Country'].nunique()

print("Number of unique countries with missing values:", unique_countries_with_missing_values1)

Unique countries in merged_all 219

Total count of rows with missing values: 750
Number of unique countries with missing values: 219

In [10]:
print(unique_values_merged_all_country)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Republic of the Congo'
 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Democratic Republic of the Congo' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji' 'Finland'
 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macedonia'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and The Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Swaziland'
 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe' 'Burma' 'Eswatini'
 'Kyrgyz Republic' 'Malaysia ' 'Taiwan' 'Turkmenistan ' 'Anguilla'
 'British Virgin Islands' 'Christmas Island' 'Cocos (Keeling) Islands'
 'Cook Islands' "Cote d'Ivoire" 'Falkland Islands (Islas Malvinas)'
 'Montserrat' 'Niue' 'Norfolk Island' 'North Macedonia'
 'Saint Helena, Ascension, and Tristan da Cunha'
 'Saint Vincent and the Grenadines' 'The Gambia' 'Tokelau'
 'Wallis and Futuna' 'West Bank and the Gaza Strip' 'Western Sahara']

In [11]:
merged_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750 entries, 0 to 749
Data columns (total 88 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Country                                                    750 non-null    object
 1   Index_score                                                690 non-null    float64
 2   Due_Diligence_Reponse                                      690 non-null    object
 3   Legal_framework_score                                      690 non-null    float64
 4   Enforcement_score                                          690 non-null    float64
 5   Outcome_score                                              690 non-null    float64
 6   Country Numeric Iso Code                                   675 non-null    float64
 7   Country Iso Code                                           673 non-null    object
 8   Sector                                                     611 non-null    object
 9   Good                                                       611 non-null    object
 10  Exploitation_Type                                          611 non-null    object
 11  Year Added                                                 611 non-null    float64
 12  Year Removed                                               520 non-null    float64
 13  Region                                                     581 non-null    object
 14  Region Id                                                  581 non-null    float64
 15  Year                                                       581 non-null    float64
 16  Summary Paragraph                                          581 non-null    object
 17  Assessment_Level                                           581 non-null    object
 18  Assessment Level Id                                        581 non-null    float64
 19  Age Range Of Working Children                              581 non-null    object
 20  Percent Of Working Children                                581 non-null    object
 21  Population_Of_Working_Children                             581 non-null    object
 22  Percent Of Working Children Agriculture                    581 non-null    object
 23  Percent Of Working Children Industry                       581 non-null    object
 24  Percent Of Working Children Services                       581 non-null    object
 25  Age Range Of Children Attending School                     581 non-null    object
 26  Percentage Of Children Attending School                    581 non-null    object
 27  Age Range Of Children Working And Studying                 581 non-null    object
 28  Percent Of Children Working And Studying                   581 non-null    object
 29  Primary Completion Rate                                    581 non-null    object
 30  Ilo C 182 Ratified                                         577 non-null    object
 31  Crc Ratified                                               579 non-null    object
 32  Crc Csec Ratified                                          579 non-null    object
 33  Crc Ac Ratified                                            579 non-null    object
 34  Palermo Ratified                                           579 non-null    object
 35  Minimum Work Conforms Standard                             581 non-null    object
 36  Minimum Work Age                                           581 non-null    object
 37  Minimum Work Is Calculated Age                             581 non-null    object
 38  Minimum Hazardous Work Conforms Standard                   581 non-null    object
 39  Minimum Hazardous Work Age                                 581 non-null    object
 40  Minimum Hazardous Work Is Calculated Age                   581 non-null    object
 41  Identification Of Hazardous Occupations List               581 non-null    object
 42  Prohibition Forced Labor Conforms Standard                 581 non-null    object
 43  Prohibition Child Trafficking Conforms Standard            581 non-null    object
 44  Prohibition Csec Conforms Standard                         581 non-null    object
 45  Prohibition Illicit Activities Conforms Standard           581 non-null    object
 46  Minimum Compulsory Military Conforms Standard              314 non-null    object
 47  Minimum Compulsory Military Age                            581 non-null    object
 48  Minimum Compulsory Military Is Calculated                  581 non-null    object
 49  Minumum Voluntary Military Conforms Standard               538 non-null    object
 50  Minumum Voluntary Military Age                             581 non-null    object
 51  Minumum Voluntary Military Is Calculated                   581 non-null    object
 52  Minumum Non State Military Conforms Standard               314 non-null    object
 53  Minumum Non State Military Age                             0 non-null      object
 54  Minumum Non State Military Is Calculated                   581 non-null    object
 55  Compulsory Education Conforms Standard                     581 non-null    object
 56  Compulsory Education Age                                   581 non-null    object
 57  Compulsory Education Is Calculated                         581 non-null    object
 58  Free Public Education Conforms Standard                    581 non-null    object
 59  Enforcement Labor Labor Funding                            566 non-null    object
 60  Enforcement Labor Labor Inspectors                         566 non-null    object
 61  Enforcement Labor Labor Inspectors Intl Standards          566 non-null    object
 62  Enforcement Labor Authorized Assess Penalties              566 non-null    object
 63  Enforcement Labor Labor New Employee Training              566 non-null    object
 64  Enforcement Labor Labor New Law Training                   581 non-null    object
 65  Enforcement Labor Labor Refresher Courses                  581 non-null    object
 66  Enforcement Labor Labor Inspections                        566 non-null    object
 67  Enforcement Labor Labor Worksite Inspections               566 non-null    object
 68  Enforcement Labor Labor Violations                         564 non-null    object
 69  Enforcement Labor Labor Penalties Imposed                  517 non-null    object
 70  Enforcement Labor Labor Penalties Collected                530 non-null    object
 71  Enforcement Labor Labor Routine Inspections Conducted      565 non-null    object
 72  Enforcement Labor Labor Routine Inspections Targeted       564 non-null    object
 73  Enforcement Labor Labor Unannounced Inspections Permitted  566 non-null    object
 74  Enforcement Labor Labor Unannounced Inspections Conducted  564 non-null    object
 75  Enforcement Labor Labor Complaint Mechanism                566 non-null    object
 76  Enforcement Labor Labor Referral Mechanism                 566 non-null    object
 77  Enforcement Criminal Criminal New Employee Training        566 non-null    object
 78  Enforcement Criminal Criminal New Law Training             581 non-null    object
 79  Enforcement Criminal Criminal Refresher Courses            581 non-null    object
 80  Enforcement Criminal Criminal Investigations               566 non-null    object
 81  Enforcement Criminal Criminal Violations                   549 non-null    object
 82  Enforcement Criminal Criminal Prosecutions                 565 non-null    object
 83  Enforcement Criminal Criminal Convictions                  564 non-null    object
 84  Enforcement Criminal Criminal Referral Mechanism           566 non-null    object
 85  Coordination                                               572 non-null    object
 86  Policy                                                     574 non-null    object
 87  Program                                                    569 non-null    object
dtypes: float64(10), object(78)
memory usage: 521.5+ KB

Create first csv will

In [12]:
unicef_sweat_1 = "df_1.csv"

# Save the DataFrame to a CSV file
merged_all.to_csv(unicef_sweat_1, index=False)

print("CSV file created successfully at:", unicef_sweat_1)

CSV file created successfully at: df_1.csv

 ## DATAFRAME_2 - FILTER COUNTRIES WITH COUNTRIES (ONLY FOUND IN SWEAT_TOIL2) EXCLUDING VALUES WITH NA FROM UNICEF DATA 
    
Eliminated all the rows where there where there were only values for the UNICEF DATA and the rest is missing.

I did this by checking values of all the columns from the unicef data plus 2 from the sweat_2 data, if they all had values they would remain in the dataframe, if they had missing values its assumend that the missing values come from the rows where the info of the countries only comes from the sweat_2 and the unicef is missing, therefore we remove this columns.

In [13]:
# Specify the columns to check for non-null values
columns_to_check = ['Index_score', 'Due_Diligence_Reponse', 'Legal_framework_score', 
                    'Enforcement_score', 'Outcome_score', 'Population_Of_Working_Children',
                     'Assessment_Level']

# Specify the threshold number of columns with non-null values required to keep the row
threshold_columns = 7  

# Count non-null values across specified columns
non_null_counts = merged_all[columns_to_check].notnull().sum(axis=1)

# Filter rows where the count of non-null values is greater than or equal to the threshold
filtered_df = merged_all[non_null_counts >= threshold_columns]

#Count unique values of country
unique_values_2= filtered_df['Country'].unique()
print("Unique countries in unique_values_2", len(unique_values_2))


# Total count of rows with missing values across all columns
total_missing_rows = filtered_df.isna().any(axis=1).sum()

print("\nTotal count of rows with missing values:", total_missing_rows)

# Filter the DataFrame to include only rows with missing values
missing_rows = filtered_df[filtered_df.isna().any(axis=1)]

# Calculate the number of unique values in the "Country" column within the filtered DataFrame
unique_countries_with_missing_values = missing_rows['Country'].nunique()

print("Number of unique countries with missing values:", unique_countries_with_missing_values)

Unique countries in unique_values_2 110

Total count of rows with missing values: 529
Number of unique countries with missing values: 110

In [14]:
print(unique_values_2)

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Azerbaijan' 'Bangladesh' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Central African Republic' 'Chad'
 'Chile' 'Colombia' 'Comoros' 'Republic of the Congo' 'Costa Rica'
 'Djibouti' 'Dominica' 'Dominican Republic'
 'Democratic Republic of the Congo' 'Ecuador' 'Egypt' 'El Salvador'
 'Eritrea' 'Ethiopia' 'Fiji' 'Gabon' 'Georgia' 'Ghana' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'India'
 'Indonesia' 'Iraq' 'Jamaica' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Lebanon' 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Maldives'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Nepal' 'Nicaragua' 'Niger'
 'Nigeria' 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Rwanda' 'Saint Lucia' 'Samoa' 'Sao Tome and Principe'
 'Senegal' 'Serbia' 'Sierra Leone' 'Solomon Islands' 'Somalia'
 'South Africa' 'South Sudan' 'Sri Lanka' 'Suriname' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Tunisia' 'Tuvalu' 'Uganda' 'Ukraine'
 'Uzbekistan' 'Vanuatu' 'Yemen' 'Zambia' 'Zimbabwe']

In [15]:
unicef_sweat_2 = "df_2.csv"

# Save the DataFrame to a CSV file
filtered_df.to_csv(unicef_sweat_2, index=False)

print("CSV file created successfully at:", unicef_sweat_2)

CSV file created successfully at: df_2.csv

 ## DATAFRAME_3 - FILTER COUNTRIES WITH COUNTRIES ONLY FOUND IN SWEAT_TOIL1
    
Eliminated all the rows where there where there were only values for the UNICEF DATA and the rest is missing.

I did this by checking values of all the columns from the unicef data plus 2 from the sweat_2 data, if they all had values they would remain in the dataframe, if they had missing values its assumend that the missing values come from the rows where the info of the countries only comes from the sweat_2 and the unicef is missing, therefore we remove this columns.

In [16]:
# Specify the columns to check for non-null values
columns_to_check2 = ['Index_score', 'Due_Diligence_Reponse', 'Legal_framework_score', 
                    'Enforcement_score', 'Outcome_score', 'Population_Of_Working_Children',
                     'Assessment_Level','Good', 'Exploitation_Type']

# Specify the threshold number of columns with non-null values required to keep the row
threshold_columns2 = 9  # Change this to the desired number of columns

# Count non-null values across specified columns
non_null_counts2 = filtered_df[columns_to_check2].notnull().sum(axis=1)

# Filter rows where the count of non-null values is greater than or equal to the threshold
filtered_df2 = filtered_df[non_null_counts2 >= threshold_columns2]

#Count unique values
unique_values_3= filtered_df2['Country'].unique()
print("Unique countries in unique_values_2", len(unique_values_3))

# Total count of rows with missing values across all columns
total_missing_rows3 = filtered_df2.isna().any(axis=1).sum()

print("\nTotal count of rows with missing values:", total_missing_rows3)

# Filter the DataFrame to include only rows with missing values
missing_rows3 = filtered_df2[filtered_df2.isna().any(axis=1)]

# Calculate the number of unique values in the "Country" column within the filtered DataFrame
unique_countries_with_missing_values3 = missing_rows3['Country'].nunique()

print("Number of unique countries with missing values:", unique_countries_with_missing_values3)

Unique countries in unique_values_2 64

Total count of rows with missing values: 483
Number of unique countries with missing values: 64

In [20]:
print(unique_values_3)

['Afghanistan' 'Angola' 'Argentina' 'Azerbaijan' 'Bangladesh' 'Belize'
 'Benin' 'Bolivia' 'Brazil' 'Burkina Faso' 'Cambodia' 'Cameroon'
 'Central African Republic' 'Chad' 'Colombia' 'Costa Rica'
 'Dominican Republic' 'Democratic Republic of the Congo' 'Ecuador' 'Egypt'
 'El Salvador' 'Ethiopia' 'Ghana' 'Guatemala' 'Guinea' 'Honduras' 'India'
 'Indonesia' 'Jordan' 'Kazakhstan' 'Kenya' 'Lebanon' 'Lesotho' 'Liberia'
 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mexico' 'Mongolia'
 'Mozambique' 'Namibia' 'Nepal' 'Nicaragua' 'Niger' 'Nigeria' 'Pakistan'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Rwanda' 'Senegal'
 'Sierra Leone' 'South Sudan' 'Suriname' 'Tanzania' 'Thailand' 'Uganda'
 'Ukraine' 'Uzbekistan' 'Yemen' 'Zambia' 'Zimbabwe']

In [17]:
filtered_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 689
Data columns (total 88 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Country                                                    483 non-null    object
 1   Index_score                                                483 non-null    float64
 2   Due_Diligence_Reponse                                      483 non-null    object
 3   Legal_framework_score                                      483 non-null    float64
 4   Enforcement_score                                          483 non-null    float64
 5   Outcome_score                                              483 non-null    float64
 6   Country Numeric Iso Code                                   483 non-null    float64
 7   Country Iso Code                                           481 non-null    object
 8   Sector                                                     483 non-null    object
 9   Good                                                       483 non-null    object
 10  Exploitation_Type                                          483 non-null    object
 11  Year Added                                                 483 non-null    float64
 12  Year Removed                                               392 non-null    float64
 13  Region                                                     483 non-null    object
 14  Region Id                                                  483 non-null    float64
 15  Year                                                       483 non-null    float64
 16  Summary Paragraph                                          483 non-null    object
 17  Assessment_Level                                           483 non-null    object
 18  Assessment Level Id                                        483 non-null    float64
 19  Age Range Of Working Children                              483 non-null    object
 20  Percent Of Working Children                                483 non-null    object
 21  Population_Of_Working_Children                             483 non-null    object
 22  Percent Of Working Children Agriculture                    483 non-null    object
 23  Percent Of Working Children Industry                       483 non-null    object
 24  Percent Of Working Children Services                       483 non-null    object
 25  Age Range Of Children Attending School                     483 non-null    object
 26  Percentage Of Children Attending School                    483 non-null    object
 27  Age Range Of Children Working And Studying                 483 non-null    object
 28  Percent Of Children Working And Studying                   483 non-null    object
 29  Primary Completion Rate                                    483 non-null    object
 30  Ilo C 182 Ratified                                         483 non-null    object
 31  Crc Ratified                                               483 non-null    object
 32  Crc Csec Ratified                                          483 non-null    object
 33  Crc Ac Ratified                                            483 non-null    object
 34  Palermo Ratified                                           483 non-null    object
 35  Minimum Work Conforms Standard                             483 non-null    object
 36  Minimum Work Age                                           483 non-null    object
 37  Minimum Work Is Calculated Age                             483 non-null    object
 38  Minimum Hazardous Work Conforms Standard                   483 non-null    object
 39  Minimum Hazardous Work Age                                 483 non-null    object
 40  Minimum Hazardous Work Is Calculated Age                   483 non-null    object
 41  Identification Of Hazardous Occupations List               483 non-null    object
 42  Prohibition Forced Labor Conforms Standard                 483 non-null    object
 43  Prohibition Child Trafficking Conforms Standard            483 non-null    object
 44  Prohibition Csec Conforms Standard                         483 non-null    object
 45  Prohibition Illicit Activities Conforms Standard           483 non-null    object
 46  Minimum Compulsory Military Conforms Standard              258 non-null    object
 47  Minimum Compulsory Military Age                            483 non-null    object
 48  Minimum Compulsory Military Is Calculated                  483 non-null    object
 49  Minumum Voluntary Military Conforms Standard               455 non-null    object
 50  Minumum Voluntary Military Age                             483 non-null    object
 51  Minumum Voluntary Military Is Calculated                   483 non-null    object
 52  Minumum Non State Military Conforms Standard               258 non-null    object
 53  Minumum Non State Military Age                             0 non-null      object
 54  Minumum Non State Military Is Calculated                   483 non-null    object
 55  Compulsory Education Conforms Standard                     483 non-null    object
 56  Compulsory Education Age                                   483 non-null    object
 57  Compulsory Education Is Calculated                         483 non-null    object
 58  Free Public Education Conforms Standard                    483 non-null    object
 59  Enforcement Labor Labor Funding                            482 non-null    object
 60  Enforcement Labor Labor Inspectors                         482 non-null    object
 61  Enforcement Labor Labor Inspectors Intl Standards          483 non-null    object
 62  Enforcement Labor Authorized Assess Penalties              482 non-null    object
 63  Enforcement Labor Labor New Employee Training              482 non-null    object
 64  Enforcement Labor Labor New Law Training                   483 non-null    object
 65  Enforcement Labor Labor Refresher Courses                  483 non-null    object
 66  Enforcement Labor Labor Inspections                        482 non-null    object
 67  Enforcement Labor Labor Worksite Inspections               482 non-null    object
 68  Enforcement Labor Labor Violations                         482 non-null    object
 69  Enforcement Labor Labor Penalties Imposed                  445 non-null    object
 70  Enforcement Labor Labor Penalties Collected                462 non-null    object
 71  Enforcement Labor Labor Routine Inspections Conducted      482 non-null    object
 72  Enforcement Labor Labor Routine Inspections Targeted       481 non-null    object
 73  Enforcement Labor Labor Unannounced Inspections Permitted  482 non-null    object
 74  Enforcement Labor Labor Unannounced Inspections Conducted  481 non-null    object
 75  Enforcement Labor Labor Complaint Mechanism                482 non-null    object
 76  Enforcement Labor Labor Referral Mechanism                 482 non-null    object
 77  Enforcement Criminal Criminal New Employee Training        482 non-null    object
 78  Enforcement Criminal Criminal New Law Training             483 non-null    object
 79  Enforcement Criminal Criminal Refresher Courses            483 non-null    object
 80  Enforcement Criminal Criminal Investigations               482 non-null    object
 81  Enforcement Criminal Criminal Violations                   470 non-null    object
 82  Enforcement Criminal Criminal Prosecutions                 482 non-null    object
 83  Enforcement Criminal Criminal Convictions                  482 non-null    object
 84  Enforcement Criminal Criminal Referral Mechanism           482 non-null    object
 85  Coordination                                               482 non-null    object
 86  Policy                                                     483 non-null    object
 87  Program                                                    483 non-null    object
dtypes: float64(10), object(78)
memory usage: 335.8+ KB

In [18]:
unicef_sweat_3 = "df_3.csv"

# Save the DataFrame to a CSV file
filtered_df2.to_csv(unicef_sweat_3, index=False)

print("CSV file created successfully at:", unicef_sweat_3)

CSV file created successfully at: df_3.csv